# Python basics

We will cover

[Zen of Python](#Zen-of-Python)
[Keywords](#Keywords)
[Python Identifiers](#Python-Identifiers)
[Variables](#Variables)
[Literals](#Literals)
[if-statement](#if-statement)
[Loops](#Loops)

<h3>Don't be afraid of python, because you already know c </h3> 

For those who studied c-programming as their first computer language, comparing python with c can help you to quickly adopt the python.

A code segment for getting sum of x[i] if i is multiplier of 5 or 3, assuming everything has been declared and initialized

<pre>   
    ////////////// c code /////////////                ########### python ###########
    sumx=0.0;                                          sumx=0.0
    for (int i=0; i&lt;n; i++) {                          for i in range(n):
        if ((i % 5)==0 || (i % 3)==0) {                   if (i % 5)==0 or (i % 3)==0:
            sumx+=x[i];                                      sumx+=x[i]
        }
    }  
</pre>

# 个人总结
    建立复数函数complex()
    triple quotes可用于引用多行的字符串

## Zen of Python

<h3>The zen of python （python 之禅）</h3> 


<ul>
<li>Beautiful is better than ugly.  &nbsp;&nbsp;&nbsp;优美胜于丑陋
<li>Explicit is better than implicit.  &nbsp;&nbsp;&nbsp;显明胜于隐含
<li>Simple is better than complex.    &nbsp;&nbsp;&nbsp;简洁胜于复杂
<li>Complex is better than complicated.  &nbsp;&nbsp;&nbsp;复杂胜于凌乱
<li>Flat is better than nested.  &nbsp;&nbsp;&nbsp;扁平胜于嵌套
<li>Sparse is better than dense. &nbsp;&nbsp;&nbsp;让代码有适当的间隔，不要把代码挤在一起
<li>Readability counts.   &nbsp;&nbsp;&nbsp;可读性很重要
<li>Special cases aren't special enough o break the rules.  &nbsp;&nbsp;&nbsp;情况再特殊也不可违背这些规则
<li>Although practicality beats purity.  &nbsp;&nbsp;&nbsp;当然实用性比纯洁性更重要 
<li>Errors should never pass silently.   &nbsp;&nbsp;&nbsp;别让错误信息溜走
<li>Unless explicitly silenced.      &nbsp;&nbsp;&nbsp;...除非主动把错误信息关掉
<li>In the face of ambiguity, refuse the temptation to guess.  &nbsp;&nbsp;&nbsp;当存在多种可能，不要尝试去猜测 
<li>There should be one-- and preferably only one --obvious way to do it.  &nbsp;&nbsp;&nbsp;直截了当的算法总该存在，能是唯一的更好
<li>Although that way may not be obvious at first unless you're Dutch.  &nbsp;&nbsp;&nbsp;..虽然开始时这并不容易，除非你是 Python 之父 (*)
<li>Now is better than never.   &nbsp;&nbsp;&nbsp;做比不做好
<li>Although never is often better than *right* now.  &nbsp;&nbsp;&nbsp;..但不假思索就动手还不如不做
<li>If the implementation is hard to explain, it's a bad idea.   &nbsp;&nbsp;&nbsp;讲不清楚的方案肯定不是一个好方案
<li>If the implementation is easy to explain, it may be a good idea.  &nbsp;&nbsp;&nbsp;一听就懂的方案大概是个好方案
<li>Namespaces are one honking great idea -- let's do more of those!  &nbsp;&nbsp;&nbsp;命名空间是一种绝妙的理念，我们应当多加利用
</ul>

来自于网上的其他翻译
<ul>
<li>优美胜于丑陋（Python 以编写优美的代码为目标） 
<li>明了胜于晦涩（优美的代码应当是明了的，命名规范，风格相似） 
<li>简洁胜于复杂（优美的代码应当是简洁的，不要有复杂的内部实现） 
<li>复杂胜于凌乱（如果复杂不可避免，那代码间也不能有难懂的关系，要保持接口简洁） 
<li>扁平胜于嵌套（优美的代码应当是扁平的，不能有太多的嵌套） 
<li>间隔胜于紧凑（优美的代码有适当的间隔，不要奢望一行代码解决问题） 
<li>可读性很重要（优美的代码是可读的） 
<li>即便假借特例的实用性之名，也不可违背这些规则（这些规则至高无上） 
<li>不要包容所有错误，除非你确定需要这样做（精准地捕获异常，不写 except:pass 风格的代码） 
<li>当存在多种可能，不要尝试去猜测 
<li>而是尽量找一种，最好是唯一一种明显的解决方案（如果不确定，就用穷举法） 
<li>虽然这并不容易，因为你不是 Python 之父（这里的 Dutch 是指 Guido ） 
<li>做也许好过不做，但不假思索就动手还不如不做（动手之前要细思量） 
<li>如果你无法向人描述你的方案，那肯定不是一个好方案；反之亦然（方案测评标准） 
<li>命名空间是一种绝妙的理念，我们应当多加利用（倡导与号召）
</ul>

<h4>注意:</h4> 这里讲的美是语言之美，并仅仅是beautifiul layout

(*) 这是一句joke，it refere to the father of python (Guido van Rossum), he is a Dutch. And Dutch people probably contribute to computer sciense the most if measured in per capita : (Guido van Rossum, Edsger Wybe Dijkstra, Max Euwe, ...)

## Keywords

Keywords are reserved words. It means that we cannot create custom variables or functions or any other identifier with name matching to these keywords. The python programming language defines these keywords for particular purposes.

Some existing keywords: False, True, None, await, else, import, pass,  break, except, in, raise, class, finally, is, return, and, continue, for, lambda, try, as, def, from, nonlocal, while, assert, del, global, not, with.

In [2]:
a = 1
print(a)

1

In [4]:
false = 1
false

1

In [6]:
False = 1

SyntaxError: cannot assign to False (1429262388.py, line 1)

In [8]:
await = 1

SyntaxError: invalid syntax (2458568081.py, line 1)

In [10]:
break = 1

SyntaxError: invalid syntax (3713841946.py, line 1)

In [12]:
continue = 1

SyntaxError: invalid syntax (3770042500.py, line 1)

- Except for None, True and False, all keywords are in lower case.
- You can not create identifiers with a name similar to any existing keyword.
- There are 33 keywords in python 3.7

## Python Identifiers

Identifier is a user-defined name given to a variable, function, class, module, etc. The identifier is a combination of character digits and an underscore. There are specific rules which we need to follow while selecting a name for an identifier in Python

- The identifier can not start with a number.
  - Like 2sample is an invalid identifier.
- Identifiers can contain letters (a to z or A to Z), numbers (0 to 9), and underscore (\_).
  - For example, xmu_stat, ds204, data_2 etc. are some valid identifier names.
- Python keywords cannot be used as identifiers.
- Special symbols like $\!, @, \#, \%$, etc. are not allowed as the identifier name in Python.
- There is no limitation on the length of the identifier in Python.
- Identifiers are case sensitive, i.e., ‘xmu’, 'XMU' \& ‘Xmu’ are three different identifiers in Python.

In [14]:
2sample =1

SyntaxError: invalid decimal literal (3340511977.py, line 1)

**Note**: We should not use identifier names that start and ends with two underscores like $\_\_$len$\_\_$ or $\_\_$load$\_\_$ etc. Python uses these kinds of terms to define special variables and methods inside the framework classes. We should avoid using this format to create new identifiers.

In [16]:
len_i =1

## Variables

A variable in Python is similar to a tag or reference that points to an object in the memory. For example,

In [20]:
y = 5
print(y)

5

In [22]:
_=5
print(_)

5

Here ‘5’ represents an integer object in the memory, and y is a reference or tag pointing to that object in memory.

- we don’t need to provide the type of information while defining a variable. Python implicitly assumes the type of the variable based on the value assigned to the variable.

Changing the value of a variable.

In [2]:
x = 5
print(type(x))
x = 'xmu'
print(type(x))

<class 'int'>
<class 'str'>

Initially, x was pointing to an integer object, and now x is pointing to a string object in the memory. The type of the variable also changed, i.e., initially, it was an integer, but when we assigned a string object in it, then the type of x becomes str, i.e., a string.

## Literals

A Literal in python is a raw data or a constant value that can get assigned to a variable. For example,

In [5]:
x = 100

In [6]:
type(10)

int

In [7]:
type(10.0)

float

Here 100 is literal, and we assigned it to a variable x.

There are different types of literals in python. For example,

1. Numeric Literals
2. String Literals
3. Bool Literals

### Numeric Literals

Numeric literals represent the numbers in python, and it can be of the following types i.e.,

In [12]:
z1 = complex(3, 4) 
z1*z1

(-7+24j)

- Integer Literal:
  - Positive \& negative round numbers.
  - For example, 100, -20, 15 etc.
- Float Literal:
  - Positive \& negative decimal numbers.
  - For example, 10.89, -20.1, 15.22 etc.
- Binary Literal:
  - The binary representation of numbers.
  - For example, 00000110 is binary literal for 6.
- Octal Literal, Hexadecimal Literal
- Complex Literal:
  - Represents the complex numbers.
  - For example $5 + 7i$.

### Boolean Literal

There are only two Boolean literals in python, i.e., True and False.

In [24]:
True and False

False

### String Literals

A String Literal in python is a group of characters. For example,

In [14]:
x = 'xmu'
y = "data science"
z = '''XMU'''
w = """XMU"""

print(x)
print(y)
print(z)
print(w)

xmu
data science
XMU
XMU

**Note**: We can enclose the string literals in either single quotes or double quotes, or triple quotes.

#### Multi-line string literal

While defining a string literal, there is no difference between single or double-quotes. We can create a string literal by either or them. But if our string literal is a little big and consists of multiple lines, then we need to use the triple quotes (‘’’) to enclose a multi-line string literal. For example,

In [15]:
x = 'We are study in
     XMU'

SyntaxError: EOL while scanning string literal (3251764467.py, line 1)

In [16]:
x = """We are studying at
     XMU"""
print(x)

We are studying at
     XMU

Or we can use three single quotes too,

In [17]:
x = '''We are studying at
     XMU'''
print(x)

We are studying at
     XMU

We can also use the single or double quotes to define multi-line string literals, but we need to end the lines with an escape character ‘\’. For example,

In [19]:
y =  "This is \
     a data science class \
     for junior student."
print(y)

SyntaxError: EOL while scanning string literal (1489090948.py, line 1)

In [22]:
a = 1+
    1
print(a)

SyntaxError: invalid syntax (3865169592.py, line 1)

We can escape characters in a string literal. Escape character starts with a ‘\’, and each escape character serves a special purpose. For example,

In [23]:
x = ""XMU""
print(x)

SyntaxError: invalid syntax (2665242930.py, line 1)

In [30]:
x = "\"XMU\\"
print(x)
y = "XMU"
print(y)

"XMU\
XMU

Some of the other escape characters are,

- \ : Newline continuation
- \\: Display a single \
- \\': Display a single quote
- \\": Display a double quote
- \b: Backspace
- \n: New Line
- \t: Horizontal Tab
- \v: Vertical Tab
- \r: Enter

## if statement

“if” keyword is always be followed by a conditional expression, i.e.,

<pre>
if condition-expression:
    statement_1
    statement_2
    statement_3
</pre>

In [33]:
x = 18
print('Value of x is: ', x)
if x < 10:
    print('x is less than 10')
    print('x is a single digit number')
print('This is last line')

Value of x is:  18
This is last line

In [34]:
x = 1
print('Value of x is: ', x)
if x < 10:
    print('x is less than 10')
    print('x is a single digit number')
print('This is last line')

Value of x is:  1
x is less than 10
x is a single digit number
This is last line

### Multiple conditions

In all the above examples, we provide a single condition in with the if-statement, but we can give multiple conditions too.

In [36]:
x = 25
print('Value of x is: ', x)
if x > 10 and x < 20 or x == 25:
    print('x is greater than 10')
    print('x is smaller than 20')
    print('x is not 15')
    x = 10
print('This is last line')
print(x)

Value of x is:  25
x is greater than 10
x is smaller than 20
x is not 15
This is last line
10

In [26]:
x = 15
print('Value of x is: ', x)
if x > 10 and x < 20 and x != 15:
    print('x is greater than 10')
    print('x is smaller than 20')
    print('x is not 15')
print('This is last line')

Value of x is:  15
This is last line

Here the condition is

In [28]:
True and True and False

False

In [39]:
x = 15
print('Value of x is: ', x)
if x > 10 and x < 20 or x != 15:
    print('x is greater than 10')
    print('x is smaller than 20')
    print('x may not be 15')
    x = 1
print('This is last line')
print(x)

Value of x is:  15
This is last line
15

Her the condition is

In [ ]:
True and True or False

## if...else statement

The syntax is

<pre>if condition:
    statement 1
    statement 2
    statement 3
else:
    statement 4
    statement 5
    statement 6
</pre>

In [30]:
x = 15
if x > 10:
    print('x :: ', x)
    x = x + 1
    print('x :: ', x)
else:
    print('x is fine')
    print('No need to change the x')
print('Last statement')

x ::  15
x ::  16
Last statement

In [ ]:
x = 1
if x > 10:
    print('x :: ', x)
    x = x + 1
    print('x :: ', x)
else:
    print('x is fine')
    print('No need to change the x')
print('Last statement')

## if…elif…else statement

The syntax is

<pre>
If condition_1:
    Statement 1
    Statement 2
elif condition_2:
    Statement 3
    Statement 4
elif condition_3:
    Statement 5
    Statement 6
else:
    Statement 7
    Statement 8
</pre>

In [32]:
x = 2
if x  < 3:
    print('The if-block')
    print('x is smaller than 3')
elif 3 < x < 10:
    print('First elif block')
    print('x is between 3 & 10')
elif 10 < x < 20:
    print('Second elif block')
    print('x is between 10 & 20')
else:
    print('The else block')
    print('x is greater than 20')

The if-block
x is smaller than 3

In [ ]:
x = 5
if x  < 3:
    print('The if-block')
    print('x is smaller than 3')
elif 3 < x < 10:
    print('First elif block')
    print('x is between 3 & 10')
elif 10 < x < 20:
    print('Second elif block')
    print('x is between 10 & 20')
else:
    print('The else block')
    print('x is greater than 20')

## if..else in a single line (ternary operator)

Syntax of if...else in a line

<pre>
value_1 if condition else value_2
</pre>

When the condition evaluates to True, then the result of this one-liner if..else expression will be **value_1**. Whereas, if the condition evaluates to False, then the result of this one-liner expression will be **value_2**. Let’s see some examples of it.

In [42]:
x = 200
a = "xmu" if x <= 10 else "Capital XMU" 
print(a)

if x<=10:
    print("xmu")
else:
    print("Capital XMU")

Capital XMU
Capital XMU

While using the if-else statement in one line, we should prefer using parenthesis to avoid confusion. For example,

In [34]:
x = 110
res = 10 + 10 if x > 100 else 0
print(res)
res = (10 + 10) if x > 100 else 0

20

It is better to use a parenthesis

In [36]:
x = 120
res = 10 + (10 if x > 100 else 0)
print(res)

20

## Loops

## While loop

A while loop executes a group of statements or a suite of statements multiple times, stops untill a given condition is False.

In [ ]:
# Use while loop to print numbers from 1 to 5
x = 1
while x <= 5:
    print(x)
    x = x + 1 # x += 1

In [38]:
y1=1
while abs(y1-y2)>1e-5:
    ...

NameError: name 'y2' is not defined

###  While loop with multiple conditions

We can have various conditions in a while statement, and we can use ‘and’ & ‘or’ with these conditions. For example,

In [52]:
x = 5
count = 0
while x <= 100 and count < 10:
    if x % 2 == 0:
        count += 1
        print(x)
    x += 1
print(count)

6
8
10
12
14
16
18
20
22
24
10

In [54]:
x = 5
count = 0
while x <= 100:
    if x % 5 == 0:
        count += 1
        #print(x)
    x += 1
print(count)
print(x)

20
101

### While loop with else

Similar to if…else, we can have while…else in python, i.e., we can have an else block after a while block i.e.

<pre>
while condition:
    statement 1
    statement 2
    statement 3
else:
    statement 4
    statement 5
</pre>

While loop will execute statements in the white suite multiple times till the condition evaluates to False. As soon as the condition in while statement evaluates to False, control jumps to the else block and executes all the statements in else suite.

In [56]:
x = 1
while x <= 10:
    #print(x)
    x = x + 1
else:
    print('print values of x:', x)

print values of x: 11

## For loop

For loop is useful to iterate over a sequence of elements.

the syntax of for loop is

<pre>
for elem in sequence:
    statement 1
    statement 2
    .......
    .......
    statement n
</pre>

Here “for” keyword is followed by a variable, then the “in” keyword, then a sequence, and in last, a colon. After the for statement starts the suite of for loop, i.e., a group of statements with one indent level, it is also called the block of for loop.

### Iterate over the characters of string using for loop

We used a string as a sequence. Then using a for loop we iterated over all the characters in the string sequence.

In [57]:
# Iterate over the characters of string using for loop
for elem in 'xmu university':
    print('***')
    print('Character: ', elem)

***
Character:  x
***
Character:  m
***
Character:  u
***
Character:
***
Character:  u
***
Character:  n
***
Character:  i
***
Character:  v
***
Character:  e
***
Character:  r
***
Character:  s
***
Character:  i
***
Character:  t
***
Character:  y

### Using range() function.

In [58]:
for i in range(10):
    print('number:',i)

number: 0
number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9

If I want to print numbers from 1 to 10, how do I implement it?

In [40]:
for i in range(1, 12, 2):
    print('Number: ', i)

Number:  1
Number:  3
Number:  5
Number:  7
Number:  9
Number:  11

In [60]:
for i in range(11, 1, -1):
    print('Number: ', i)

Number:  11
Number:  10
Number:  9
Number:  8
Number:  7
Number:  6
Number:  5
Number:  4
Number:  3
Number:  2

Function range() returns a sequence of numbers from start to (end -1) with the given step size

In [ ]:
for i in range(1, 11):
    print('Number: ', i)

In [ ]:
for i in range(1, 11, 2):
    print('Number: ', i)

How about numbers from 10 to 1?

In [61]:
for i in range(10,0,-1):
    print("number:",i)

number: 10
number: 9
number: 8
number: 7
number: 6
number: 5
number: 4
number: 3
number: 2
number: 1

In [62]:
for i in range(10,0,-2):
    print("number:",i)

number: 10
number: 8
number: 6
number: 4
number: 2

### Use for loop to print elements in a list

We can iterate over all the items in a list easily using for loop,

In [42]:
list_of_numbers = [1, 2, 3, 3, 5]
# iterate over all items in list and print them one by one
for elem in list_of_numbers:
    print(elem)

1
2
3
3
5

### For loop with else block

<pre>
for elem in sequence:
    statement 1
    statement 2
    statement 3
else:
    statement 5
    statement 6
</pre>

Once the for loop finishes executing the statements in the for block, then in last, it runs the statements in the else block. The statements in the else block will execute only in last and that too only for one time.

In [63]:
for elem in 'Sample':
    print('Character: ', elem)
else:
    print('-----------')
    print('End of Loop')
    print('-----------')

Character:  S
Character:  a
Character:  m
Character:  p
Character:  l
Character:  e
-----------
End of Loop
-----------

## break and continue

### keyword "break"

“break” statement is useful to break the flow of a loop abruptly i.e.,

- It can force a while loop to stop in between, even if the condition in “while statement” is still True.
- It can stop a for loop in between even if the sequence in “for loop” is not entirely iterated.

As soon as the interpreter encounters a break statement, it stops the current execution of the loop and jumps directly to the code after the loop block. 

Let’s understand by some examples

In [64]:
x = 1
# Infinite While Loop
while True:
    print(x)
    # If x is 6, then break the loop
    if x == 6:
        break
    x += 1
print("final value of x:",x)

1
2
3
4
5
6
final value of x: 6

For loop with a break statement

In [44]:
sample_str = 'sample_statement'
# Iterate over all the characters in string
for elem in sample_str:
    # Id char is e then break the loop
    if elem == 'e':
        break
    print(elem)
print("final elem:", elem)

s
a
m
p
l
final elem: e

## Keyword "continue"

A "continue" statement inside a loop can make the control jump back to the starting of the loop. If the interpreter encounters a "continue" statement in a loop block, then it skips all the statements or lines after it in the suite and goes back at the beginning of the loop.

Let’s understand by some examples,

#### While loop with continue statement

Calling the continue keyword inside the loop, will make the control jump to the starting of the while loop again. All the lines after the continue keyword will get skipped for that particular iteration.

In [66]:
x = 0
# Infinite While Loop
while x <= 10:
    x += 1
    # If x is bw 4 and 6, then skip printing
    if 4 <= x <= 6:
        continue
    print(x)

1
2
3
7
8
9
10
11

In [67]:
x = 0
# Infinite While Loop
while x <= 10:
    x += 1
    # If x is bw 4 and 6, then skip printing
    if 4 <= x <= 6:
        print(x*x)
        continue
        print(x)
    #print(x)

16
25
36

In this while loop, we are printing numbers from 1 to 10. But inside the loop body, we have a check that if x is between 4 to 6, then execute the continue keyword.

So, when the value of x becomes 4, the continue statement gets executed. It forces the control back to the starting of the loop, and the print statement at the end of the loop body gets skipped. Similarly, the print statement in the loop gets skipped when the value of x is between 4 and 6.

#### For loop with continue statement

In [68]:

sample_str = 'Sample Text'
# Iterate over all the characters in string
for elem in sample_str:
    # If char is not lower case then skip printing
    if elem.isupper() == True:
        continue
    print(elem)

a
m
p
l
e

e
x
t

Epoch [100/1000], Loss: 0.1211
Epoch [200/1000], Loss: 0.0895
Epoch [300/1000], Loss: 0.0682
Epoch [400/1000], Loss: 0.0525
Epoch [500/1000], Loss: 0.0502
Epoch [600/1000], Loss: 0.0494
Epoch [700/1000], Loss: 0.0486
Epoch [800/1000], Loss: 0.0428
Epoch [900/1000], Loss: 0.0412
Epoch [1000/1000], Loss: 0.0366