* [List](#List)
* [tuple](#tuple)
* [set](#set)
* [dictionary](#dictionary)
* [The empty collections](#The-empty-collections)

list的切片替换和insert功能

## List

## What is a list

The list is a sequential data structure in Python. It can contain a group of elements, which can be of the same or different data types.

We can create a list object using square brackets, i.e. [ ]. For example, to create a list of integers, enclose them in square brackets. Like this,

In [41]:
listInteger = [11, 13, 26, 90, 5, 22]
print(listInteger)

[11, 13, 26, 90, 5, 22]

In [4]:
a = [1,"w",[1,3],(3),{4},{"dic":2}]
a

[1, 'w', [1, 3], 3, {4}, {'dic': 2}]

If we don’t pass any values in the square brackets, it will create an empty list. For example,

In [8]:
listEmpty = []
print(listEmpty)
myList = list()
print(myList)

[]
[]

In [45]:
[None]

[None]

## Why do we need a list in Python?

A list helps to store a group of elements together. But many other sequential data structures do the same, like a set, tuple, etc. Then why do we need lists?

There are many unique properties of the list that make it different from other data types. It makes a list of one of the most used sequential data types in Python.

1. Lists are Dynamic.
  - A list is dynamic; it means we can add multiple elements to it and update or delete elements. Also, we don’t need to predefine the size of the list. You can insert any number of items in the list, and it can dynamically increase its size internally.

In [16]:
a = [1,2,6]
b = [2,3,5]
c = a+b
print(c)

[1, 2, 6, 2, 3, 5]

2. Lists are ordered.
  - Elements in the list will remain in the order in which you add them, and it will not change the order of elements internally.

3. Lists are Heterogenous
  - A list can contain elements of different data types. For example, in a single list object, you can keep integers, floats, strings, tuples, lists, and other things too.

In [20]:
a = [1,2,"xmu",[6,7]]
print(a)

[1, 2, 'xmu', [6, 7]]

4 Duplicates are allowed in a list
  - A list in Python can contain duplicate elements.

In [23]:
a_set = {1,1,2,2,5}
a_list = [1,1,2,2,5]
print(a_set)
print(a_list)

{1, 2, 5}
[1, 1, 2, 2, 5]

## Get the size of a list in Python

In [26]:
aList = [1,2,3,4,5,6]
type(aList)

list

In [28]:
length_aList = len(aList)
print(length_aList)

6

If a list is empty, then the size of the list will be 0. For example,

In [31]:
lst = []
print(len(lst))

0

## Creat a list with same values

Suppose we want to create a list of strings, which contains 10 same strings, e.g., "xmu"

In [35]:
lst = ['xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu']

In [37]:
lst

['xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu']

create a list by [] and multiply by repeat count

In [18]:
["xmu"]*10

['xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu']

In [19]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [20]:
[None]*2

[None, None]

In [21]:
len([]*10)

0

Creating a list of same values by List Comprehension with range()

In [22]:
listOfXmu = ['xmu' for i in range(10)]
print(listOfXmu)

['xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu', 'xmu']

In [25]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a = []
for i in range(10):
    a += [i]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
[z/2 for z in range(10)]

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

9.0

In [17]:
def square(x):
    return x**2
ftn(3)

def sqrt(x):
    return x**(1/2)

sqrt(81)
a = [square,sqrt,5,"xmu"]
a[0](11)

3.0

In this list comprehension, for loop will iterate over the range object 10 times and in each iteration it will add "xmu" in the list.

## Add an element to a list -- append() \& extend()

#### list.append()

In [29]:
xmList = ['xia','men']
print(xmList)
xmList.append('university')
print(xmList)

['xia', 'men']
['xia', 'men', 'university']

Addition of two list:

In [30]:
xmList = ['xia','men']
print(xmList)
resList = xmList+['university']
print(xmList)
print(resList)

['xia', 'men']
['xia', 'men']
['xia', 'men', 'university']

As list can contain different kind of elements, 
so if we pass an another list object as parameter in append(), then whole list object will be added to the end of list, e.g.,

In [34]:
xmList = ['xia','men']
print(xmList)
xmList.append(['university'])
print(xmList)

['xia', 'men']
['xia', 'men', ['university']]

#### list.extend()

In [20]:
xmList = ['xia','men']
print(xmList)
xmList.extend(['university'])
print(xmList)
xmList.append(['University'])
print(xmList)

['xia', 'men']
['xia', 'men', 'university']
['xia', 'men', 'university', ['University']]

In [36]:
xmList = ['xia','men']
print(xmList)
xmList.extend('university')
print(xmList)

['xia', 'men']
['xia', 'men', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']

In [39]:
xmList.append(10000)
xmList

['xia', 'men', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y', 10000, 10000]

In [40]:
for i in 'university':
    print(i)

u
n
i
v
e
r
s
i
t
y

In [41]:
for i in ['university']:
    print(i)

university

In [42]:
for i in 10000:
    print(i)

TypeError: 'int' object is not iterable

### list append() vs extend()

list.append(item) , considers the parameter item as an individual object and add that object in the end of list. Even if given item is an another list, still it will be added to the end of list as individual object i.e.

In [43]:
list1 = ['Xia','Men','is','also','called']
list1.append(['Amoy'])
print(list1)

['Xia', 'Men', 'is', 'also', 'called', ['Amoy']]

In [44]:
list1 = ['Xia','Men','is','also','called']
list1.append(1)
print(list1)

['Xia', 'Men', 'is', 'also', 'called', 1]

list.extend(item) , considers parameter item to be an another list and add all the individual elements of the list to the existing list i.e.

In [49]:
list1 = ['Xia','Men','is','also','called']
list1.append(['Amoy',1])
print(list1)

['Xia', 'Men', 'is', 'also', 'called', ['Amoy', 1]]

In [46]:
list1 = ['Xia','Men','is','also','called']
list1.extend('Amoy')
print(list1)

['Xia', 'Men', 'is', 'also', 'called', 'A', 'm', 'o', 'y']

In [47]:
list1 = ['Xia','Men','is','also','called']
list1.extend(1)
print(list1)

TypeError: 'int' object is not iterable

##  update values in a List

In Python, lists are mutable. It means we can change the list’s contents by adding, updating, or removing elements from the list.

### Updating existing element

The list is an index-based sequential data structure. Therefore we can access list elements by their index position and change their values.

In [21]:
myList = [1,2,0,5,6,7,8]

Now we want to change the value of the 3rd element from 0 to 200:

In [22]:
myList[2] = 200
print(myList)

[1, 2, 200, 5, 6, 7, 8]

**Note:** As indexing starts from 0 in list, so index position of third element in list is 2.

#### Updating multiple elements

You can select multiple items from a list using index range, i.e., start & end index positions. For example,

<pre>
list_obj[start : end]
</pre>

In [26]:
myList = [1,2,0,5,6,7,8]
myList[2:4] = [20,20,20]
print(myList)

[1, 2, 20, 20, 20, 6, 7, 8]

In [27]:
myList.insert(2,10000)
myList

[1, 2, 10000, 20, 20, 20, 6, 7, 8]

## Remove elements from list

Remove the first occurrence of an element from a list by value

In [28]:
myList = [1,2,0,5,0,6,7,8]
myList.remove(0)
print(myList)

[1, 2, 5, 0, 6, 7, 8]

If the given value does not exist in the list, then it raises the ValueError.

In [29]:
myList = [1,2,5,6,7,8]
myList.remove(10)
print(myList)

ValueError: list.remove(x): x not in list

If I want to remove all occurrences of an element.

In [30]:
val = 0
myList = [1,2,0,5,0,6,7,8]
while val in myList:
    myList.remove(0)
print(myList)

[1, 2, 5, 6, 7, 8]

In [48]:
myList = [1,2,0,5,0,6,7,8]
print(0 in myList)
myList = [1,2,5,6,7,8]
print(0 in myList)

True
False

quiz: 1. remove all 0,2 and 5 from myList = [1,2,0,5,0,6,7,8,4,5,6,9,2,5,0,5]?

In [32]:
myList = [1,2,0,5,0,6,7,8,4,5,6,9,2,5,0,5]
for val in [0,2,5]:
    while val in myList:
        myList.remove(val)
print(myList)

[1, 6, 7, 8, 4, 6, 9]

In [33]:
myList = [1, 2, 0, 5, 0, 6, 7, 8, 4, 5, 6, 9, 2, 5, 0, 5]  
filteredList = [x for x in myList if x not in (0, 2, 5)]  
print(filteredList)

[1, 6, 7, 8, 4, 6, 9]

#### Find index of element

In [34]:
val = 0
myList = [1,2,0,5,0,6,7,8,4,5,6,9,2,5,0,5]
myList.index(val) #the index of the first occurrence of 0

2

Get all indexes of an element

In [37]:
val = 0
myList = [1,2,0,5,0,6,7,8,4,5,6,9,2,5,0,5]
posit = []
for i in range(len(myList)):
    if myList[i] == val:
        posit.append(i)
print(posit)

[2, 4, 14]

In [38]:
posit = [i for i in range(len(myList)) if myList[i]==val]
print(posit)

[2, 4, 14]

## Sort a list

<pre>
list.sort()
</pre>

- By Alphabetical Order
- By Reverse Alphabetical Order
- By String Length
- By Numeric Order

In [39]:
myList = ["I","have","an","apple", "at", "XMU"]
print(myList)

['I', 'have', 'an', 'apple', 'at', 'XMU']

Sort a list in Alphabetical Order with case-sensitive

In [40]:
myList.sort() 
print(myList)

['I', 'XMU', 'an', 'apple', 'at', 'have']

Sort a list in Alphabetical Order __without case-sensitive__

In [41]:
myList = ["I","have","an","apple", "at", "XMU"]
sorted(myList, key=str.lower)  #sorted(myList, key=str.lower,reverse=True)

['an', 'apple', 'at', 'have', 'I', 'XMU']

Sort a list in reverse order

In [42]:
myList = ["I","have","an","apple", "at", "XMU"]
myList.sort(reverse=True)
print(myList)

['have', 'at', 'apple', 'an', 'XMU', 'I']

Sort a list by the length of string

In [43]:
myList = ["I","have","an","apple", "at", "XMU"]
myList.sort(key=len)
print(myList)

['I', 'an', 'at', 'XMU', 'have', 'apple']

In [44]:
myList = ["I","have","an","apple", "at", "XMU"]
myList.sort(key=len,reverse=True)
print(myList)

['apple', 'have', 'XMU', 'an', 'at', 'I']

Sort a list of string by Numeric Order -- Sort in ascending/descending numeric order, pass key function that should convert string to integer i.e using int()

In [45]:
myList = ['55' , '101', '152', '98', '233', '40', '67']
myList.sort(key=int) #Ascending
print(myList)
myList.sort(key=int,reverse=True) #descending Order
print(myList)

['40', '55', '67', '98', '101', '152', '233']
['233', '152', '101', '98', '67', '55', '40']

Sort a list of numbers by Numeric Order

In [46]:
myList = [1,2,5,7,93,2,3,55,78]
myList.sort()
print(myList)

[1, 2, 2, 3, 5, 7, 55, 78, 93]

In [47]:
myList.sort(reverse=True)
print(myList)

[93, 78, 55, 7, 5, 3, 2, 2, 1]

But you cannot sort lists that have both numbers and strings in them, since Python doesn’t know how to compare these values.

In [ ]:
myList = ['red', 'blue', 1, 12, 'orange',42, 'green', 99]
myList.sort()

## List slicing

In [49]:
myList = [1,2,3,4,5,6,7,8,9,10]

In [50]:
print(myList[0:2])
print(myList[0:3])

[1, 2]
[1, 2, 3]

In [51]:
print(myList[-1])
print(myList[-4])

10
7

- A colon:
  - Starting Index
  - Ending Index

In [52]:
print(myList)
print(myList[0:])
print(myList[2:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
print(myList[-3:])

[8, 9, 10]

In [54]:
print(myList[:3])
print(myList[0:3])
print(myList[:2])

[1, 2, 3]
[1, 2, 3]
[1, 2]

In [55]:
print(myList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
myList[3:10:2]

[4, 6, 8, 10]

In [57]:
myList[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
myList[::2]

[1, 3, 5, 7, 9]

In [59]:
myList[::-1] #reverse the order of list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
myList[::-2]

[10, 8, 6, 4, 2]

####  Others

In [61]:
# elements in a list is connected with link, thus it allows for any types of element
myList=[1,2, [3,4],[5],"abc"]
print(myList)

[1, 2, [3, 4], [5], 'abc']

In [62]:
myList[2]

[3, 4]

In [63]:
# testing the existence of an element with operator in
print(3 in myList[2])
print(5  in myList)
print([5] in myList)

True
False
True

## tuple

In [64]:
# dont get confused with the list, tuple use () sign
t=(4,3,2,1,1)
print(type(t))
print(t)

<class 'tuple'>
(4, 3, 2, 1, 1)

In [66]:
# Like list, tuple allows for any types of element
t = ([1],2,"xmu",'Amoy',{1},{1:2},(2,3),sqrt)
print(t)

([1], 2, 'xmu', 'Amoy', {1}, {1: 2}, (2, 3), <function sqrt at 0x7fb0806f6ee0>)

In [67]:
# tuple allows for subscript
t = (1,2,3,4,5,6,7,8,9,10)
print(t[0])   # first elements
print(t[:])   #all elements
print(t[:-2]) # counting from right

# the left boundary of a slicing is includsive but the right bounary is not 
print(t[1:3])

1
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8)
(2, 3)

In [59]:
e=3.4
t=(e,3,2,1,1)
print(t[0])

3.4

In [70]:
# testing of an element is equally easy
print(2 in t)
print(100 in t)

True
False

In [63]:
t

(3.4, 3, 2, 1, 1)

In [73]:
# tuple is a beatuful container
first, second, third, forth, fifth = t#[i for i in range(5)]
print(first, second, third, forth, fifth)

3.4 3 2 1 1

In [75]:
# tuple is a beatuful container
first, second, third, forth,_ = t#[i for i in range(5)]
print(first, second, third, forth, _)

3.4 3 2 1 1

In [53]:
type(_)

str

In [65]:
#(t)
(((t,3)))

((3.4, 3, 2, 1, 1), 3)

In [78]:
(t,3)

((3.4, 3, 2, 1, 1), 3)

In [69]:
# all following are the equally correct
(first, second, third, forth, fifth)=t
first, second, third, forth, fifth=(t)
(((first, second, third, forth, fifth)))=((((t))))
print(t)
print(first, second, third, forth, fifth)

(3.4, 3, 2, 1, 1)
3.4 3 2 1 1

In [80]:
# tuple can not be altered after its creation.
s = (1,2,3)
s.add(5)
print(s)

AttributeError: 'tuple' object has no attribute 'add'

In [81]:
s = [1,2,3]
s[1] = 1000
print(s)
s+[123324]

[1, 1000, 3]

[1, 1000, 3, 123324]

In [83]:
s = (1,2,3)
s[1] = 1000
s

TypeError: 'tuple' object does not support item assignment

In [85]:
s = (1,2,3)
s*2

(1, 2, 3, 1, 2, 3)

In [86]:
(1,2) + (4,5,6)

(1, 2, 4, 5, 6)

## set

In [87]:
# duplicated element in set is not allowed, like its mathematic definition
s={4,3,2,1,1}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4}

In [88]:
{1,(1),(1,2,4)}

{(1, 2, 4), 1}

In [89]:
# no subscript in set
print(s[1])

TypeError: 'set' object is not subscriptable

In [90]:
print(3 in s)   # test whether 3 existed in set s
print(100 in s)

True
False

In [91]:
# 'iternate' all elements without subscript
# and it it internally ordered in to make it easier for checking existing of an element
for e in s:
    print(e)

1
2
3
4

In [92]:
e=3.4
s={4,3,e,1,1}
print(s)

{3.4, 1, 3, 4}

Add an element to a set

In [71]:
s={4,3,1}
print(s)
s.add("a")
print(s)

{1, 3, 4}
{1, 'a', 3, 4}

In [73]:
s.add({1,2})

TypeError: unhashable type: 'set'

In [96]:
{1,2}+{3}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [100]:
s = {1,2}
s.update((2,3,4,6,7,(4)))
s

{1, 2, 3, 4, 6, 7}

In [101]:
s = {1,2}
print(s.union({20,3}))
s

{1, 2, 3, 20}

{1, 2}

**elements in set must be hashable**.  If the object has a hash value then it can be used as a key for a dictionary or as an element in a set.

In [79]:
ss={1,2,3, 4, '5'}
ss={(1,2),3,4,'5'}
print("ss:",ss)
sss={(1),2,3, 4, '5'}
print("sss:",sss)
# but not 
#ssss={[1],2,3, 4, '5'}

ss: {'5', (1, 2), 3, 4}
sss: {'5', 2, 3, 4, 1}

In [102]:
a = {1,2}
b = {[1]}

TypeError: unhashable type: 'list'

<h3>Hashable object</h3>

A hashable object is something that can be mapped to a unique value in the memory. 

On the opposite, unhashability usually means that objects is mutable - objects whose contents can be changed in memory, rather than by returning a new modified object. <br><br>
<b>
Lists and dictionaries are unhashable. <br>
Tuples, strings and integers are hashable.<br>
</b>

Why? Read this: <a href="https://stackoverflow.com/questions/3917574/how-is-pythons-list-implemented">How python lists implement?</a>
and this to see <a href="https://zetcode.com/python/hashing/">what python hashing is?</a>

In [103]:
ls = [i for i in range(5)]
print(ls[2])
ls[2] = 100
ls

2

[0, 1, 100, 3, 4]

In [104]:
tp = (1,2,3,4,5)
print(tp[1])
tp[1] = 6

2

TypeError: 'tuple' object does not support item assignment

In [105]:
a = "xiamen"
a[1]
a[1] = "I"

TypeError: 'str' object does not support item assignment

In [106]:
a = 1245423623
a[2] = 100

TypeError: 'int' object does not support item assignment

In [107]:
s = {233,5,5,6,7}
s[0]

TypeError: 'set' object is not subscriptable

In [81]:
s = {1,2,4,5}
s.add(100)
print(s)

for i in s:
    print(i)
    if i%2==0:
        s.add(i+2)
s

{1, 2, 100, 4, 5}
1
2
100

RuntimeError: Set changed size during iteration

In [83]:
s = {1,2,4,5}
for i in s:
    if i%2==0:
        s.remove(i)
s

RuntimeError: Set changed size during iteration

In [85]:
s = {1,2,4,5}
for i in set(s): #！！！！
    if i%2==0:
        s.add(i+2)
s

{1, 2, 4, 5, 6}

In [93]:
s = {1,2,4,5}
print(id(s))
ss = set(s)
print(id(ss))

5950678720
5950679392

In [87]:
print("s:",s)
ss = s
print("ss:",ss)
s.add(1000000)
print(s)
print(ss)

s: {1, 2, 4, 5, 6}
ss: {1, 2, 4, 5, 6}
{1000000, 1, 2, 4, 5, 6}
{1000000, 1, 2, 4, 5, 6}

In [117]:
print(id(s))
print(id(ss))

140396045871136
140396045871136

In [123]:
a = [1,2,4]
b = a
a[2] = 100
print(a,b)

[1, 2, 100] [1, 2, 100]

In [124]:
a = [1,2,4]
b = list(a)
a[2] = 100
print(a,b)

[1, 2, 100] [1, 2, 4]

## dictionary

In [125]:
# a duplicated key will update the value of previous value of the same key
d={'a':4,'c':3, 'd':2,'e':1, 'c':5}
print(type(d))
print(d)

<class 'dict'>
{'a': 4, 'c': 5, 'd': 2, 'e': 1}

In [128]:
{"d":2,3:1}

{'d': 2, 3: 1}

In [129]:
d={'a':4,'c':3, 'd':2,'e':1, 'c':5,'c':6}
print(type(d))
print(d)

<class 'dict'>
{'a': 4, 'c': 6, 'd': 2, 'e': 1}

In [97]:
# is the key in the dictionary ordered? Usually an ordered key can help search operation
d={'a':4,'c':3, 'd':2,'e':1, 'c':5}
for e in d:
    print(e)

a
c
d
e

In [99]:
for e in d.keys():
    print(e)

a
c
d
e

In [ ]:
{'c':3, 'd':2,'e':1, 'c':5,'a':4,'a':2}

In [140]:
# accessing value by key
d={'c':3, 'd':2,'e':1, 'c':5,'a':4}
print(d['c'])
for key in d:
    print(key,"--",d[key], end=',' )

5
c -- 5,d -- 2,e -- 1,a -- 4,

In [141]:
d = {(1,2):3}
d[(1,2)]

3

In [142]:
d = {1:3}
d[1]

3

In [143]:
dl={[1,2]:3}

TypeError: unhashable type: 'list'

In [144]:
dl={{1,2}:3}

TypeError: unhashable type: 'set'

In [146]:
dl={{"dict":2}:3}

TypeError: unhashable type: 'dict'

Add a element to a dictionary

In [147]:
d={'c':3, 'd':2,'e':1, 'c':5,'a':4}
d[12] = 'pd'
print(d)

{'c': 5, 'd': 2, 'e': 1, 'a': 4, 12: 'pd'}

In [149]:
d = {"a":[1]}
print(d)
d["a"].append(3)
print(d)

{'a': [1]}
{'a': [1, 3]}

In [152]:
ftn = {"a":sqrt}
ftn['a'](9)

3.0

In [153]:
dic = {}
for i in range(5):
    dic[i] = i+3
print(dic)

{0: 3, 1: 4, 2: 5, 3: 6, 4: 7}

In [154]:
{2} +{3}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [155]:
{'q':10,"3":46}+{'q':10,"3":46}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [162]:
(2,6)+(3,4)

(2, 6, 3, 4)

In [103]:
(6,)+(3,4)

(6, 3, 4)

In [105]:
(6)+3

9

In [166]:
[6]+3

TypeError: can only concatenate list (not "int") to list

Adding items to dictionary using update() function

In [170]:
d.update({'q':10,"3":46})
print(d)

{'a': [1, 3], 'q': 10, '3': 46}

Adding items to the dictionary using dictionary comprehension

In [107]:
dd = {"zhao yi":10}
keys = ['zhang san',"qian er","sun wu"]
values = [10,20]
dd.update({key:value for key,value in zip(keys,values)})
print(dd)

{'zhao yi': 10, 'zhang san': 10, 'qian er': 20}

In [109]:
dd.items()

dict_items([('zhao yi', 10), ('zhang san', 10), ('qian er', 20)])

In [180]:
# dict.items()
dd = {"zhao yi":10}
keys = ['zhang san',"qian er","sun wu"]
values = [10,20,30]
dd.update({key:value for key,value in zip(keys,values)})
print(dd)
for i in dd.items(): 
    print(i)
#type(i)
for i in dd.keys(): 
    print(i)
    
for i in dd.values(): 
    print(i)

{'zhao yi': 10, 'zhang san': 10, 'qian er': 20, 'sun wu': 30}
('zhao yi', 10)
('zhang san', 10)
('qian er', 20)
('sun wu', 30)
zhao yi
zhang san
qian er
sun wu
10
10
20
30

In [178]:
dd.items()

dict_items([('zhao yi', 10), ('zhang san', 10), ('qian er', 20), ('sun wu', 30)])

In [176]:
for k in zip(keys,values):
    print(k)

('zhang san', 10)
('qian er', 20)
('sun wu', 30)

In [174]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c',8,6]
list3 = [True, False, True]

for num, char, flag in zip(list1, list2, list3):
    print(f"{num}: {char}, {flag}")

1: a, True
2: b, False
3: c, True

- Keys are always unique in the dictionary
- keys must be of an immutable data type, i.e., strings, numbers, or tuples.
  - It means once a key-value pair is added in the dictionary then it cannot modify the key itself, although we can change the value associated with it.

In [181]:
dd={'c':3, 'd':2,'e':1, 'c':5,'a':4,}
print(dd.keys())
print(dd.values())

dict_keys(['c', 'd', 'e', 'a'])
dict_values([5, 2, 1, 4])

In [182]:
for i in dd.keys():
    print(i)

c
d
e
a

In [183]:
for i in dd.values():
    print(i)

5
2
1
4

In [184]:
dd.items()

dict_items([('c', 5), ('d', 2), ('e', 1), ('a', 4)])

Remove key-value pairs from dictionary

In [185]:
dd={'c':3, 'd':2,'e':1,'a':4,}
print(dd)
del dd['c']
print(dd)

{'c': 3, 'd': 2, 'e': 1, 'a': 4}
{'d': 2, 'e': 1, 'a': 4}

In [187]:
#Iterate over a dictionary and remove items with even values
dd={'c':3, 'd':2,'e':1,'a':4,}
for key,value in dd.items():
    print(key)
    if value%2 == 0:
        del dd[key]

c
d

RuntimeError: dictionary changed size during iteration

In [188]:
dd={'c':3, 'd':2,'e':1,'a':4}
for key,value in dict(dd).items():
    print(key)
    if value%2 == 0:
        del dd[key]
print(dd)

c
d
e
a
{'c': 3, 'e': 1}

In [111]:
dd ={'c':3, 'd':2,'e':1,'a':55}
print(id(dd))
d = dd
d[3] = 24
print(id(d))
print(dd)

5973344576
5973344576
{'c': 3, 'd': 2, 'e': 1, 'a': 55, 3: 24}

In [190]:
dd ={'c':3, 'd':2,'e':1,'a':55}
print(id(dd))
d = dict(dd)
d[3] = 24
print(id(d))
print(dd)

140394696484032
140394696460224
{'c': 3, 'd': 2, 'e': 1, 'a': 55}

Sort a Dictionary by key or Value

In [191]:
# Dictionary of strings and ints
myDict = { "h": 56,"a" : 23 ,"st" : 43,"b" : 43}
print(myDict.keys())

dict_keys(['h', 'a', 'st', 'b'])

In [192]:
for key in sorted(myDict):
    print(key,":",myDict[key])

a : 23
b : 43
h : 56
st : 43

In [194]:
# Dictionary of strings and ints
sorted({3: 43,1:23})
myDict = { "h": 56,"a" : 23 ,"st" : 43,"b" : 43,3:4}
sorted(myDict)

TypeError: '<' not supported between instances of 'int' and 'str'

## The empty collections

In [195]:
# the empty collection is not a NULL, it exists but have no elements
()
[]
{}   #what is this? set or dictionary
tuple()
set()
list()
dict()
print("all above are valid.")

all above are valid.

In [196]:
s={}
print(type(s))
s[2] = 5
s

<class 'dict'>

{2: 5}

dynamic collection creation

In [197]:
s=set()
for i in range(0,6):
    s.add(i) 
print(type(s))
print(s)

<class 'set'>
{0, 1, 2, 3, 4, 5}

In [198]:
s=list()
for i in range(0,6):
    s.append(i) 
print(type(s))
print(s)

<class 'list'>
[0, 1, 2, 3, 4, 5]

In [199]:
# tuple can not be altered after its creation. 
s=(1,2,3)
print(type(s))
print(s)
s.add(4)

<class 'tuple'>
(1, 2, 3)

AttributeError: 'tuple' object has no attribute 'add'

How to add an element to tuple

In [200]:
t = (1,2,3,4)
t = list(t)
print('list t:',t)
t.append(5)
t = tuple(t)
print('tuple t:',t)

list t: [1, 2, 3, 4]
tuple t: (1, 2, 3, 4, 5)

In [201]:
# Note that {} is reserved for an empty dictionary, not an empty set. It is better to explicitly use dict() or set()
# the following code does not create a set 
ss=set()
for i in range(0,6):
    ss.add(i)
print(type(ss))
print(ss)

<class 'set'>
{0, 1, 2, 3, 4, 5}

In [203]:
# build a tree using list
tree=[]
left1=[100]
tree.append(left1)
right1=[]
tree.append(right1)
left1.append(1000)
left1.append([2])
right1.append([3])
print(tree[1][0])
tree

[3]

[[100, 1000, [2]], [[3]]]

In [204]:
a = [1,2,3]
b = [a,2,6,7]
print(b)
a[0] = 10000
print(b)

[[1, 2, 3], 2, 6, 7]
[[10000, 2, 3], 2, 6, 7]

### Speed comparison of dictionary and list in Python

In [113]:
import time
n_short = 100
n_long = 10000
short_list = list(range(n_short))
long_list = list(range(n_long))

In [119]:
my_dict = {x:x for x in range(100)}#{x for x in range(10)}#(x for x in range(10))#[x for x in range(10)]#
print(my_dict)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99}

In [117]:
{x for x in range(10)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [121]:
%timeit n_short-1 in short_list #%timeit: https://www.cnblogs.com/tandoori/p/16288603.html
%timeit n_short-1 in long_list
%timeit n_long-1 in long_list

320 ns ± 0.577 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
314 ns ± 6.9 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
32.6 μs ± 17.7 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [123]:
short_dict = {x:x*5 for x in range(1,n_short)}
long_dict = {x:x*5 for x in range(1,n_long)}

In [125]:
short_dict[v_short] !=None

NameError: name 'v_short' is not defined

In [ ]:
v_short=n_short-1
%timeit short_dict[v_short] !=None
v_long=n_long-1
%timeit long_dict[v_short]!=None
%timeit long_dict[v_long]!=None

In [ ]:
%timeit v_short in short_dict
%timeit v_long in long_dict

<h3>Why is looking up entries in a dictionary so much faster?</h3>
<ul>
<li>Lookups are faster in dictionaries because Python implements them using hash tables.
<li>You have to go through the entire list to get what you want. However, a dictionary will return the value you ask for without going through all keys.
<li>The two times above for 100 and 10000000 are almost the same for a dictionary, which is because a dictionary can almost instantly jump to the key it is asked for thanks to the lookups.
<li>If we explain the difference by Big O concepts, dictionaries have constant time complexity, O(1) while lists have linear time complexity, O(n).
</ul>



Python dictionary implementation https://www.laurentluce.com/posts/python-dictionary-implementation/

How Python implements dictionaries: https://www.jessicayung.com/how-python-implements-dictionaries/

### if dict() is not sorted, how good is its performance? ##

In [131]:
import time
timeRes = []
N = [10,100,1000,10000,100000,1000000]
for n in N:
    dd={}
    for i in range(n):
        dd[i]=i+1

    t0=time.time()
    total=0
    for i in range(n):
        total+=dd[i]
    timeGap = time.time()-t0
    print("n:",n,"execution time:",timeGap)
    timeRes.append(timeGap)
    #print(total)
print(N)
print(timeRes)

n: 10 execution time: 1.3828277587890625e-05
n: 100 execution time: 1.0967254638671875e-05
n: 1000 execution time: 0.0001289844512939453
n: 10000 execution time: 0.0010128021240234375
n: 100000 execution time: 0.0071179866790771484
n: 1000000 execution time: 0.04852604866027832
[10, 100, 1000, 10000, 100000, 1000000]
[1.3828277587890625e-05, 1.0967254638671875e-05, 0.0001289844512939453, 0.0010128021240234375, 0.0071179866790771484, 0.04852604866027832]

In [133]:
timeRes = []
timeRes.append(1)
timeGap

0.04852604866027832

In [135]:
# so. dict() is actually not sorted inside, it is a good feature so the order will not changes, 
# it is also a bad feature since its searching complexity is O(n)

import time
n=1000000
dd={}
for i in range(n):
    dd[i]=i+1

t0=time.time()
total=0
for i in range(0,n):
    total+=dd[i]
print("execution time:",time.time()-t0)
print(total)

t0=time.time()
total=0
for i in range(n-1,-1,-1):
    total+=dd[i]
print("execution time:",time.time()-t0)
print(total)

#So it probably does not matter whether it is ordered or not.

execution time: 0.0481870174407959
500000500000
execution time: 0.04899096488952637
500000500000

### Reference vs value ###
Python object is just a pointer to the object`

In [127]:
a=[2,3,4,1,4]
print(id(a))
b = a
print(id(b))
b[0]=7
print(a)
print(b)

5973235328
5973235328
[7, 3, 4, 1, 4]
[7, 3, 4, 1, 4]

In [129]:
a=[2,3,4,1,4]
b=list(a)# a.copy()
print(id(a))
print(id(b))
b[0]=7000
print(a)
print(b)

5973246400
5973456576
[2, 3, 4, 1, 4]
[7000, 3, 4, 1, 4]